<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="render" content="webkit"><meta name="author" content="yanni4night@gmail.com"><title>Jshint --yanni4night.github.io</title><link rel="stylesheet" href="dist/static/css/index.css?t=694080"><script src="dist/static/js/lib/underscore-min.js?t=439872"></script><script src="dist/static/js/lib/jquery.min.js?t=835968"></script><script src="dist/static/js/lib/backbone.js?t=636032"></script></head><body class="box flex"><h1 class="caption">".jshintrc" Generator</h1><table id="table"><thead><tr><th>no.</th><th>check</th><th>option</th><th>doc</th></tr></thead><tbody></tbody></table><script type="text/tpl" id="tpl"><% keys.forEach(function(key,idx){%>
      <tr>
        <td><%= (idx + 1)%></td>
        <td><input id="<%=key%>" type="checkbox" data-key="<%=key%>"/></td>
        <td><label for="<%=key%>"><%=key%></label></td>
        <td><a href="http://www.jshint.com/docs/options/#<%=key%>" target="_blank">more</a></td>
      </tr>
    <% }) %></script><pre id="output"></pre><footer class="tc"><a href="http://yanni4night.com/">yanni4night.com</a> &copy;2014</footer></body><script src="dist/static/js/jshint.js?t=114368"></script></html>