<!DOCTYPE html>
<html ng-app="badgePageApp">
  <head>
    <meta charset="utf-8"/>
    <meta name="render" content="webkit"/>
    <meta name="author" content="yanni4night@gmail.com"/>
    <title>Badge for Github --yanni4night.github.io</title>
    <link rel="stylesheet" href="dist/static/css/index.css"/>
    <script src="dist/static/js/lib/angular.min.js"></script>
    <script src="dist/static/js/lib/jquery.min.js"></script>
  </head>
  <body class="box flex">
    <form class="badge-form" action="#" ng-controller="badgeController" autocomplete="off" ng-submit="onSubmit()">
      <h1 class="caption">Badges for Github</h1>
      <div class="row f-f f-m">
        <label class="label">Github User:</label> <input class="f-1" type="text" ng-model="user" placeholder="Your github username..."/>
      </div>
      <div class="row f-f f-m">
        <label class="label">Github Repo:</label>
        <input class="f-1" type="text" ng-model="project" placeholder="Your github project..."/>
      </div>
      <div class="row f-f f-m">
        <label class="label">Badges:</label>
        <section class="badge-cbs f-1">
          <label class="f-f f-m"><input type="checkbox" ng-model="badges.npmVersion"/> NPM version</label>

          <label class="f-f f-m"><input type="checkbox" ng-model="badges.npmDownload"/> NPM download</label>

          <label class="f-f f-m"><input type="checkbox" ng-model="badges.travis"/> Travis build status</label>

          <label class="f-f f-m">
            <input type="checkbox" ng-model="badges.appveyor"/>
            Appveyor build status 
            <input class="f-1" type="text" placeholder="appveyor key" ng-model="appveyorKey" ng-show="badges.appveyor" style="margin-left:1em;"/>
          </label>

          <label class="f-f f-m">
            <input type="checkbox" ng-model="badges.codeship"/>
            Codeship build status
            <input class="f-1" type="text" placeholder="codeship id" ng-model="codeshipId" ng-show="badges.codeship" style="margin-left:1em;"/>
            <input class="f-1" type="text" placeholder="codeship uuid" ng-model="codeshipUUID" ng-show="badges.codeship" style="margin-left:1em;"/>
          </label>

          <label class="f-f f-m"><input type="checkbox" ng-model="badges.dependency"/> David-dm dependency</label>

          <label class="f-f f-m"><input type="checkbox" ng-model="badges.withGrunt"/> Build with grunt.js</label>

          <label class="f-f f-m"><input type="checkbox" ng-model="badges.bowerVersion"/> Bower version</label>
          <label class="f-f f-m"><input type="checkbox" ng-model="badges.pipVersion"/> Pypi version</label>
        </section>
      </div>
      <fieldset>
        <legend>Preview</legend>
        <img ng-if="badges.npmVersion" ng-src="http://img.shields.io/npm/v/{{project}}.svg" alt="Npm version"/>
        <img ng-if="badges.npmDownload" ng-src="http://img.shields.io/npm/dm/{{project}}.svg" alt="Npm download"/>
        <img ng-if="badges.travis" ng-src="http://img.shields.io/travis/{{user}}/{{project}}.svg" alt="Travis build"/>
        <img ng-if="badges.appveyor" ng-src="https://ci.appveyor.com/api/projects/status/{{appveyorKey}}?svg=true" alt="Appveyor build"/>
        <img ng-if="badges.codeship" ng-src="https://codeship.com/projects/{{codeshipUUID}}/status" alt="Codeship build"/>
        <img ng-if="badges.dependency" ng-src="https://david-dm.org/{{user}}/{{project}}.svg" alt="David-dm"/>
        <img ng-if="badges.withGrunt" ng-src="http://img.shields.io/badge/BUILT%20WITH-GRUNT-yellow.svg" alt="Grunt"/>
        <img ng-if="badges.bowerVersion" ng-src="https://badge.fury.io/bo/{{project}}.svg" alt="Bower version"/>
        <img ng-if="badges.pipVersion" ng-src="https://badge.fury.io/py/{{project}}.svg" alt="Pypi version"/>
      </fieldset>
      <fieldset>
        <legend>Badges show</legend>
        <p ng-if="badges.npmVersion">[![NPM version][npm-image]][npm-url]</p>
        <p ng-if="badges.npmDownload">[![Downloads][downloads-image]][npm-url]</p>
        <p ng-if="badges.travis">[![Build Status][travis-image]][travis-url]</p>
        <p ng-if="badges.appveyor">[![Build status][appveyor-image]][appveyor-url]</p>
        <p ng-if="badges.codeship">[![Build status][codeship-image]][codeship-url]</p>
        <p ng-if="badges.dependency">[![Dependency status][david-dm-image]][david-dm-url]</p>
        <p ng-if="badges.withGrunt">[![Built with Grunt][grunt-image]][grunt-url]</p>
        <p ng-if="badges.bowerVersion">[![Bower version][bower-image]][bower-url]</p>
        <p ng-if="badges.pipVersion">[![Pypi version][pip-image]][pip-url]</p>
      </fieldset>
      <fieldset>
        <legend>URL defination</legend>
<pre ng-if="badges.npmVersion || badges.npmDownload">
[npm-url]: https://npmjs.org/package/{{project}}
</pre>
<pre ng-if="badges.npmDownload">
[downloads-image]: http://img.shields.io/npm/dm/{{project}}.svg
</pre>
<pre ng-if="badges.npmVersion">
[npm-image]: http://img.shields.io/npm/v/{{project}}.svg
</pre>
<pre ng-if="badges.travis">
[travis-url]: https://travis-ci.org/{{user}}/{{project}}
[travis-image]: http://img.shields.io/travis/{{user}}/{{project}}.svg
</pre>

<pre ng-if="badges.appveyor">
[appveyor-image]:https://ci.appveyor.com/api/projects/status/{{appveyorKey}}?svg=true
[appveyor-url]:https://ci.appveyor.com/project/{{user}}/{{project}}
</pre>

<pre ng-if="badges.codeship">
[codeship-image]:https://codeship.com/projects/{{codeshipUUID}}/status
[codeship-url]:https://codeship.com/projects/{{codeshipId}}
</pre>

<pre ng-if="badges.dependency">
[david-dm-url]:https://david-dm.org/{{user}}/{{project}}
[david-dm-image]:https://david-dm.org/{{user}}/{{project}}.svg
</pre>

<pre ng-if="badges.withGrunt">
[grunt-url]:http://gruntjs.com/
[grunt-image]: http://img.shields.io/badge/BUILT%20WITH-GRUNT-yellow.svg
</pre>

<pre ng-if="badges.bowerVersion">
[bower-url]:http://badge.fury.io/bo/{{project}}
[bower-image]: https://badge.fury.io/bo/{{project}}.svg
</pre>

<pre ng-if="badges.pipVersion">
[pip-url]:http://badge.fury.io/py/{{project}}
[pip-image]: https://badge.fury.io/py/{{project}}.svg
</pre>
      </fieldset>
    </form>
    <footer class="tc"><a href="http://yanni4night.com/">yanni4night.com</a> &copy;2014</footer>
  </body>
  <script src="dist/static/js/badge.js"></script>
</html>